@page
<style>
    #button {
        position: absolute;
        width: 100px;
        height: 40px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
<div class="container">

</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/juego.js"></script>